@tailwind base;
@tailwind components;
@tailwind utilities;


.my-button {
  background-color: purple;
  color: white;
  /* padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px; */
  /* padding: 15px 15px; */
 
}

.shadow {
  box-shadow: inset 0 0 100px #000000;
}

.purple-settings-main {
  @apply bg-black w-screen h-screen flex flex-col justify-center items-center
}


.primary-button {
  @apply bg-gray-300 p-2 rounded-md
}

.secondary-button {
  @apply bg-black p-2 rounded-md text-white border 
}

.primary-button-sm {
  @apply bg-gray-300 px-1 rounded-md
}

.secondary-button-sm {
  @apply bg-black px-1 rounded-md text-white 
}

.secondary-button-pages {
  @apply bg-black px-2 py-2 rounded-md text-white border 
}

input, select {
  @apply border-2 border-gray-400 px-1 rounded-md outline-none mb-2 w-full
}

input:focus, select:focus {
  @apply border-black outline-none
}

textarea {
  @apply border-2 border-gray-400 px-1 h-40 rounded-md outline-none mb-2 w-full
}

textarea:focus {
  @apply border-black outline-none 
}

label.basic {
  @apply text-gray-700 font-bold mb-2
}

h1 {
  @apply font-bold text-black mb-2 text-lg
}

table.basic {
  @apply w-full mt-5
}

table.basic thead tr td,
table.basic thead tr th {
  @apply bg-black text-white 
}

table.basic tr td {
  @apply border outline-none border-gray-400 p-1
}

table.basic a {
  @apply bg-black text-sm mr-2 text-white py-1 px-2 rounded-md inline-flex gap-1 items-center
}
table.basic a.delete {
  @apply bg-gray-500 
}

.btn-red, .btn-default {
  @apply px-4 py-2 rounded-md
}

.btn-red {
  @apply bg-red-800 text-white
}

.btn-default {
  @apply bg-gray-400
}

img {
  max-height: 100%;
}